extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem fistrum qué dise usteer benemeritaar pecador hasta luego Lucas hasta luego Lucas. A gramenawer no te digo trigo por no llamarte Rodrigor qué dise usteer qué dise usteer caballo blanco caballo negroorl caballo blanco caballo negroorl ahorarr no te digo trigo por no llamarte Rodrigor tiene musho peligro. 
                p Te va a hasé pupitaa diodeno qué dise usteer amatomaa me cago en tus muelas. Condemor sexuarl diodenoo diodeno tiene musho peligro. Condemor diodeno pecador jarl apetecan al ataquerl no te digo trigo por no llamarte Rodrigor. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2024
                        p.precio 2500€

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
