extends ./layout/index

block slider 
    .slider 
        h1 Carcassonne
        em Magia Medieval

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Proyecto realizado en Node.JS junto con Express, usando PUG para el template, proyecto realizado con los conocimientos aprendidos en el curso: 
                    a(href="https://www.udemy.com/course/javascript-moderno-guia-definitiva-construye-10-proyectos/", target="_blank") Javascript moderno guía definitiva 
                p Subido a Github en el repositorio: 
                    a(href="https://github.com/solaniski/agenciadeviajesnode", target="_blank") agenciadeviajes   
                p Puesto en producción en servidor ubuntu usando el comando pm2 para mantener la aplicación arrancada, conectado a base de datos MySQL haciendo uso de Sequelize
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")
            .col-md-12
                h4.text-center.mt-5 Este es un proyecto con fines académicos, no es una website de viajes real.
        
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Circuito Marruecos
                        p.fecha 20 de Marzo de 2024 - 29 de Marzo de 2024
                        p.precio 800€

    .container 
        h2.mt-5.text-center Testimonios
        include ./layout/bloque_testimoniales
