extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Proyecto realizado en Node.JS junto con Express, usando PUG para el template, proyecto realizado con los conocimientos aprendidos en el curso: 
                    a(href="https://www.udemy.com/course/javascript-moderno-guia-definitiva-construye-10-proyectos/", target="_blank") Javascript moderno guía definitiva 
                p Subido a Github en el repositorio: 
                    a(href="https://github.com/solaniski/agenciadeviajesnode", target="_blank") agenciadeviajes   
                p Puesto en producción en servidor ubuntu usando el comando pm2 para mantener la aplicación arrancada, conectado a base de datos MySQL haciendo uso de Sequelize
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    svg.icon.icon-tabler.icon-tabler-user-shield(xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M6 21v-2a4 4 0 0 1 4 -4h2')
                        path(d='M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5z')
                        path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                    h2.mb-4 Viaje Seguro 

                .col-md-4
                    svg.icon.icon-tabler.icon-tabler-map-2(xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5')
                        path(d='M9 4v13')
                        path(d='M15 7v5.5')
                        path(d='M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z')
                        path(d='M19 18v.01')
                    h2.mb-4 Multitud de Destinos

                .col-md-4
                    svg.icon.icon-tabler.icon-tabler-receipt-euro(xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2')
                        path(d='M15 7.8c-.523 -.502 -1.172 -.8 -1.875 -.8c-1.727 0 -3.125 1.791 -3.125 4s1.398 4 3.125 4c.703 0 1.352 -.298 1.874 -.8')
                        path(d='M9 11h4')
                    h2.mb-4 Precios Competitivos
