extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Minions ipsum me want bananaaa! Wiiiii ullamco ti aamoo! Ullamco gelatooo magna ti aamoo! Cillum. Tatata bala tu ex nisi sed elit po kass sed esse. Daa voluptate exercitation underweaaar tulaliloo. Hana dul sae gelatooo exercitation butt labore exercitation daa occaecat. Nisi wiiiii adipisicing daa cillum butt jeje. Officia pepete nostrud exercitation jiji. Eiusmod potatoooo labore aute reprehenderit ut irure irure quis voluptate. Gelatooo uuuhhh et enim wiiiii. Bananaaaa ut pepete et elit ti aamoo! Consequat tatata bala tu.
                p Adipisicing minim po kass voluptate quis incididunt. Tank yuuu! aaaaaah officia nisi duis esse ti aamoo! Sed veniam. Potatoooo ullamco sed belloo! Consequat potatoooo hana dul sae tempor ad belloo! Pepete magna irure et irure tank yuuu! Uuuhhh butt butt duis butt.
                p Aute duis incididunt poopayee exercitation aliquip quis aaaaaah. Veniam dolore sed tempor adipisicing. Aliqua consequat velit sed. Elit velit aaaaaah jeje nisi daa. La bodaaa gelatooo bappleees po kass wiiiii. La bodaaa consequat jeje cillum enim officia.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Elit velit aaaaaah jeje nisi daa. La bodaaa gelatooo bappleees po kass wiiiii. La bodaaa consequat jeje cillum enim officia.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Elit velit aaaaaah jeje nisi daa. La bodaaa gelatooo bappleees po kass wiiiii. La bodaaa consequat jeje cillum enim officia.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Elit velit aaaaaah jeje nisi daa. La bodaaa gelatooo bappleees po kass wiiiii. La bodaaa consequat jeje cillum enim officia.
